body {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
}

.fluid {
    width: 100%;
}

div.outer-splash {
    position: absolute; 
    /* toujours calculé pr rapport au body, sauf */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(245, 245, 143, .5);
}

div.inner-splash {
    position: relative;
    width: 498px;
    height: 328px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);

}

div.outer-splash.hidden {
    display: none;
}